footer {
  height: 60px;
  line-height: 60px;
  margin: 0 5px;
  padding: 0 20px;
  background: #3693cf;
  font-size: 12px;
  color: #fff;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  span{
    font-weight: 600;
    color: #ffb400;
  }
}