.modal-header{
  background: #333;
  color: #fff;
  -webkit-border-radius:  3px 3px 0 0;
  -moz-border-radius:  3px 3px 0 0;
  -ms-border-radius:  3px 3px 0 0;
  border-radius:  3px 3px 0 0;
  > h1{
    font-size: 25px;
    text-transform: uppercase;
  }
}
.modal-body{
  .fa-spin{
    font-size: 40px;
    text-align: center;
    display: block;
    padding: 30px;
  }

  .success-modal-page{
    text-align: center;
    i{
      font-size:180px;
      color: #3c763d;
    }
    .text-success{
      font-size:20px;
    }

  }
}

.confirm-modal{
  font-size: 16px;

  .modal-body{
    .to-append{
      color: #990000;
      font-weight: bold;
    }

    .buttons-confirmation{
      margin-top: 40px;
      margin-bottom: 20px;
    }

    .btn{
      min-width: 100px;
      line-height: 25px;
      font-size: 18px;
      text-transform: uppercase;
      margin: 0 3px;
    }
  }
}

.append-modal{
  &.modal-md-custom{
    width:800px;
    margin:0 auto;
    .modal-dialog{
      width:100%;
    }

  }
}


.form-pe-date-statement{
  display:none;

  .dates{
    background: #eee;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .subcon-name{
    display: block;
    font-size: 30px;
  }
}

