.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #216089;
}

.navbar-default {
  border: none;
  background: #262626;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0 5px;

  .navbar-header{
    > button {
      padding: 8px 15px;
      > span{
        color:#fff;
      }
    }
  }

  .navbar-collapse {
    border-top: 0;
    padding: 0;
    box-shadow: none;
    @include breakpoint($min: 320px, $max: 767px) {
      padding: 0 15px;
    }
  }

  .navbar-nav{
    > li {
      > a {
        position: relative;
        color: #4d4d4d;
        padding: 10px 20px;
        margin-right: 1px;
        min-width: 100px;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        @include border-radius(3px 3px 0 0);
        background-color: #f4f4f4;
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),color-stop(85%,#fff),to(#ccc));
        background-image: -webkit-linear-gradient(#f2f2f2,#fff 85%,#ccc);
        background-image: -moz-linear-gradient(top,#f2f2f2,#fff 85%,#ccc);
        background-image: -o-linear-gradient(#f2f2f2,#fff 85%,#ccc);
        background-image: linear-gradient(#f2f2f2,#fff 85%,#ccc);
        background-repeat: no-repeat;
        font-weight: $os-body;
        i{
          display: block;
          font-size: 18px;
          text-align: center;
        }
        &:hover{
          color: #333;
          background-color: transparent;
        }
        .caret{
          @include breakpoint($min: 320px, $max: 767px) {
            @include border-radius(0);
            float: right;
            margin-top: 8px;
          }
        }
        @include breakpoint($min: 320px, $max: 767px) {
          @include border-radius(0);
          text-align: left;
          margin-right: 0;
        }
      }
    }
    .active{
      > a{
        position: relative;
        background: #2d85be;
        color: #fff;
      }
    }

    .dropdown-menu{
      > li{
        > a{
          @include breakpoint($min: 320px, $max: 767px) {
            color: #fff !important;
            padding: 10px 20px;
          }
        }
      }
    }
  }

  @include breakpoint($min: 320px, $max: 767px) {
    background: #3693cf;
    @include border-radius(4px);
    margin-bottom: 10px;
  }
}